*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body{
    font-family: Raleway;
}
header{
    background-color: #fff;
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 20px #f2f2f2;
}
header .header-brand{
    color:#1c7f7f;
    font-size: 170%;
    font-weight:800;
    font-family: Satisfy;
    display: block;
    text-align: center;
    padding: 10px 0; 
}
header .header-brand span{
    color: #d32f2f;
}



.index-banner{
    height: calc(100vh-100px);
    text-align: justify;
    color:#111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    width: 100%;
    display: none;
}
.index-banner p{
    width:calc(100%-20px);
    margin : 10px;
    line-height: 1.8;
 }
 .index-banner img{
     display: none;
 }
.container-1{
    background-color: #fff;
    margin : 10px;
    width:calc(100%-20px);
}
.vl { /*vertical line*/
    border-left: 1px solid #1c7f7f;
    height: 100%;
    position: absolute;
    left: 115%;
    top: 5%;
    display: none;
}

/* ----------------------------------forms----------------------- */
.form{
    background:#f2f2f2;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0px 3px 10px #cecdcd;
}

.form input{
    font-family: Raleway;
    outline:1;
    background: #fff; 
    width: 100%;
    border: 0;
    margin: 0 0 18px;
    padding:15px ;
    box-sizing: border-box;
    font-size: 14px;
}

.details-form{
    background:#f2f2f2;
    color: #164e4e;
    max-width: 360px;
    margin: auto ;
    padding: 20px;
    text-align: ltr;
    box-shadow: 0px 3px 10px #cecdcd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details-form .content{
    margin-top:20px; 
}
.details-form button{
    width: 37%;
    margin-right: 40px;
    margin-top: 5px;
}
.details-form p {
    padding: 5px;

}
.details-form p strong{
    margin-right: 2px;
}
.details-form center #profpic{
    margin-top:10px;
}
/* -----------buttons---------- */
button{
    background: #1c7f7f;
    color: #fff;
    padding:10px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
button:hover{
    background:#1A7770;
}

.form button{
    font-family: Raleway;
    width: 100%;
    padding:15px ;
    font-size: 14px;
    
}
.form button#Btn1{
    width: 160px;
    margin-right: 40px;
}
.form button#Btn2{
    width: 150px;
}

/* ------- endof buttons-------- */
.form .message{
    margin: 15px;
    font-family: Raleway;
    font-size: 12px;
}
.form .message a{
    text-decoration: none;
    color:#1A7770;
    font-size: 15px;
}
.option-button-container{
    display: none;
}
.form .register-form{
    display: none;
}
.form .driver-form{
    display: none;
}

/* -------------------------end of forms----------------- */


body {
    line-height:1;
}
